<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>$Title$</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Room_id</th>
        <th>isFreeRoom</th>
        <th>numberOfBeds</th>
        <th>costPerHour</th>
        <th>statusRoom</th>
        <th>equipments</th>
        <th>guests</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:utext="${room.roomId}"></td>
        <td th:utext="${room.isFreeRoom}"></td>
        <td th:utext="${room.numberOfBeds}"></td>
        <td th:utext="${room.costPerHour}"></td>
        <td th:utext="${room.statusRoom}"></td>
        <td th:utext="${room.equipments}"></td>
        <td th:utext="${room.guests}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>
