<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<nav class="navbar navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="/">
            <img th:src="@{/images/logo.png}" width="30" height="30" class="d-inline-block align-top" alt="">
            Hotel "MIAMI"
        </a>
    </div>
</nav>
<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="/rooms">Rooms</a>
    <a class="nav-item nav-link" href="/equipments">Equipments</a>
    <a class="nav-item nav-link" href="/guests">Guests</a>
    <a class="nav-item nav-link" href="/storage">Storage</a>
</nav>

<hr/>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'roomId')}">
                <div>Id</div>
            </a>
        </th>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'isFreeRoom')}">
                <div>Is Free Room</div>
            </a>
        </th>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'numberOfBeds')}">
                <div>Number of Beds</div>
            </a>
        </th>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'costPerHour')}">
                <div>Cost per Hour</div>
            </a>
        </th>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'directoryStatus')}">
                <div>Room Status</div>
            </a>
        </th>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'equipments')}">
                <div>Equipments</div>
            </a>
        </th>
        <th scope="col">
            <a name="sort" th:href="@{${location}(page=1, size = ${size}, sort = 'guests')}">
                <div>Guests</div>
            </a>
        </th>
        <th scope="col">Edit</th>
        <th scope="col">Delete room</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}" th:if="${room.getRoomId() != warehouseId}">
        <form method="GET">
            <td th:utext="${room.roomId}"></td>
            <td th:utext="${room.getIsFreeRoom()}"></td>
            <td th:utext="${room.getNumberOfBeds()}"></td>
            <td th:utext="${room.getCostPerHour()}"></td>
            <td th:utext="${room.getStatusRoom().getMessage()}"></td>
            <td th:if="${room.getEquipments() != null && room.getEquipments().size() != 0}">
                <a th:href="@{/equipments(room_id = ${room.getRoomId()})}">View all equipments room</a>
            </td>
            <td th:unless="${room.getEquipments() != null && room.getEquipments().size() != 0}">
                NONE
            </td>
            <td th:if="${room.getGuests() != null && room.getGuests().size() > 0}">
                <ul style="padding-left: 0" th:each="guest : ${room.getGuests()}">
                    <a th:href="@{/guest(id = ${guest.getGuestId()})}" th:utext="${guest.getName()}"></a><br/>
                </ul>
            </td>
            <td th:unless="${room.getGuests() != null && room.getGuests().size() > 0}">
                NONE
            </td>
            <td>
                <a th:href="@{/edit/room(id=${room.getRoomId()})}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </td>
            <td>
                <a
                   th:href="@{/rooms(room_id=${room.getRoomId()})}">
                    <button   th:disabled="${room.getEquipments().size() != 0 || room.getGuests().size() != 0}"type="button" class="btn btn-primary">Delete</button>
                </a>
            </td>

        </form>
    </tr>
    </tbody>
</table>
<a href="/newroom">
    <button type="button" class="btn btn-primary">New</button>
</a>
<div th:replace="~{fragments/pagination :: pagination (${page}, ${size}, ${sort}, ${countPages}, ${location})}"></div>
<form th:action="${location}" method="GET">

    <div th:replace="~{fragments/pagination :: pageSize}"></div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
</html>