<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table style="border:1px; align-content:center">
    <tr>
        <th>Room id</th>
        <th>isFreeRoom</th>
        <th>numberOfBeds</th>
        <th>costPerHour</th>
        <th>statusRoom</th>
        <th>equipments</th>
        <th>guests</th>
        <th>delete room</th>
    <tr/>
    <tr th:each="room : ${rooms}">
        <form method="GET">
            <td th:utext="${room.roomId}"></td>
            <td th:utext="${room.getIsFreeRoom()}"></td>
            <td th:utext="${room.getNumberOfBeds()}"></td>
            <td th:utext="${room.getCostPerHour()}"></td>
            <td th:utext="${room.getStatusRoom()}"></td>
            <td th:if="${room.getEquipments().size() > 0}">
                <ul th:each="equipment : ${room.getEquipments()}">
                    <li th:utext="${equipment.getName()}"></li>
                    <li th:utext="${equipment.getCostPerObject()}"></li>
                    <li th:utext="${equipment.getStateEquipment()}"></li>
                    <li th:utext="${equipment.getWeight()}"></li>
                </ul>
            </td>
            <td th:unless="${room.getEquipments().size() > 0}">
                NONE
            </td>
            <td th:if="${room.getGuests().size() > 0}">
                <ul th:each="guest : ${room.getGuests()}">
                   <li ><a hreaf = "" th:utext="${guest.getName()}"></a></li>
                    <li th:utext="${guest.getArrivalTime()}"></li>
                    <li th:utext="${guest.getDepartureTime()}"></li>
                    <li th:utext="${guest.getInvoice()}"></li>
                </ul>
            </td>
            <td th:unless="${room.getGuests().size() > 0}">
                NONE
            </td>
            <td>
                <input type="hidden" th:value="${room.getRoomId()}" name="room_id">
                <input type="submit" th:value="delete">
            </td>

        </form>
    </tr>
</table>

</body>
</html>