<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

<div th:replace="~{fragments/header :: header(${location})}"></div>
<form name="editUser" action="/edit/user" th:object="${userInfo}" method="POST">
    <div style="width: 40%; margin-left: 50px">
        <h1 class="display-2">Edit staff</h1>
        <div class="input-group mb-3" style="margin-bottom: 10px">
            <span class="input-group-text" id="basic-addon4">Username</span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   aria-label="email"
                   aria-describedby="basic-addon1" th:value="${user.getUsername()}" required th:field="*{username}">
        </div>

        <div class="input-group mb-3" style="margin-bottom: 10px">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input name="emailAddress" type="email" class="form-control" placeholder="Email"
                   aria-label="email"
                   aria-describedby="basic-addon1" th:value="${user.getEmailAddress()}"  th:field="*{emailAddress}">
        </div>

        <div class="input-group mb-3" style="margin-bottom: 10px">
            <span class="input-group-text" id="basic-addon2">Phone</span>
            <input name="phoneNumber" type="text" class="form-control" placeholder="Phone"
                   aria-label="Username"
                   aria-describedby="basic-addon1" th:value="${user.getPhoneNumber()}" th:field="*{phoneNumber}">
        </div>

        <div class="input-group mb-3" style="margin-bottom: 10px">
            <span class="input-group-text" id="basic-addon10">Name</span>
            <input name="name" type="text" class="form-control" placeholder="Name"
                   aria-label="name"
                   aria-describedby="basic-addon1" th:value="${user.getName()}">
        </div>

        <div style="display: flex; margin-bottom: 10px">
            <span class="input-group-text" id="basic-addon3" style="width: min-content">ROLE</span>
            <select name="userRole" class="form-select" aria-label="Default select example">

                <option selected th:utext="${userRoles[user.getUserRole().getIndex() - 1]}" ></option>
                <option th:each="role : ${userRoles}" th:value="${role}" >
                    <span th:utext="${role.toString()}"></span>
                </option>
            </select>
        </div>

        <input type="hidden" name = "userId" th:value="${user.getUserId()}">
        <input type="submit" value="Save" class="btn btn-primary">
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
</html>